{% extends "base.html" %}

{% block content %}
    <h1>Детальный график прогноза</h1>
    <div class="col-lg-6 col-md-12">
    <a href = {{url_for('forecast.forecast_chart', avg_type_main = 'EMA')}}>EMA</a>
    <a href = {{url_for('forecast.forecast_chart', avg_type_main = 'SMA')}}>SMA</a>
        
    

    <div class="chart" id="forecast_graph">
        <script>
            var graphs = {{plot_forecast_chart | safe}};
            Plotly.plot('forecast_graph',graphs,{});
        </script>
    </div>
    </div>
    
{% endblock %}